@model HomeViewModel
@{
	ViewData["Title"] = "Home Page";
}


<section class="home-banner">
	<section class="container hero row">

		<div class="d-flex justify-content-center align-items-center text-white">
			<div class="col-xxl-6 col-xl-7 col-lg-8 col-md-12">
				<h1>Order Healthy and Fresh Food Any Time</h1>
				<p>Italian food makes people think of big family dinners. So you may want to position your restaurant as a place to bring the whole family.</p>
			</div>
		</div>
	</section>
	<img src="/assets/images/wave.svg" class="wave-image" />
</section>


<!--Our Categories-->
<partial name="_OurCategories" model="@Model.Categories" />


<!-- Popular Restaurants-->
<partial name="_PopularRestaurants" model="@Model.Restaurants" />