* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'poppins',sans-serif;
}



/* start home banner section*/

.home-banner {
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url('/assets/images/hero-image.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 95vh;
    position: relative;
}

header {
    padding: 1.3em;
    max-height:100px;
}

header a {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    color: white;
    padding: 10px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

ul {
    list-style: none;
    padding: 0;
}

.hero {
    height: calc(100% - 318px);
}

.navigation {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.navigation .primary-list {
    margin: 0 auto;
}

.wave-image {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.py-120px {
    padding: 120px 0;
}
/* end home banner section*/

/* start global header */
.global-header {
    position: relative;
}

.global-header .header-title {
    color: #FFCC00;
    text-transform: uppercase;
    font-weight: 700;
}

.global-header .header-content {
    color: #231900;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 34px;
}

.global-header .bottom-dots {
    position: absolute;
    left: 48%;
    bottom: -19px;
}

.bottom-dots .dot.line-dot {
    border-right: 40px solid #FFCC00;
}

.bottom-dots .dot {
    position: relative;
    display: block;
    float: left;
    width: 3px;
    height: 3px;
    border-right: 3px solid #FFCC00;
    margin-right: 3px;
}

/* end global header */

/* start category section */

.category-card .category-content .category-title {
    font-size: 24px;
    margin-bottom: 5px;
}

.category-card .category-content .category-desc {
    font-size: 13px;
    color: #54595F;
}

.category-card .category-image {
    height: 200px;
    width: 100%;
}

/* end category section */

/* start restaurant section */

.restaurant-section {
    background-color: #f2f2f2;
}

    .restaurant-section .card-categories a {
        color: #071c1f;
        text-decoration: none;
    }

    .restaurant-section .card  .card-img-top {
        max-height: 278px;
        min-height: 278px;
    }

/* end restaurant section */



@media (max-width:1000px) {
    .home-banner {
        background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('/assets/images/hero-image.png');
        background-position: right;
        background-size: cover;
    }

    .toggleMenu {
        position: absolute;
        right: 50px;
        background-image: url('/assets/images/menu.png');
        width: 30px;
        height: 30px;
        z-index: 1000;
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
        padding: 2em;
    }

    .toggleMenu:hover {
        cursor: pointer;
    }

    .toggleMenu.active {
        position: fixed;
        background-size: 25px;
    }

    .navigation {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: scale(1,0);
        opacity: 0;
    }

    .navigation.active {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        transform: scale(1,1);
        max-height: 100%;
        background: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85));
        z-index: 99;
        opacity: 1;
    }

    .navigation ul {
        flex-direction: column;
        text-align: center;
    }
}

/* start shopping cart */

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.shopping-cart-table thead th {
    color: #5f5c5c;
    font-weight: 600;
    font-size: 18px;
}


.shopping-cart-table tbody tr:first-child td {
    padding-top: 30px;
}
.seperator {
    width: 100%;
    height: 1px;
    background: #d3cfcf;
    margin: 30px 0;
}

.remove-item {
    cursor: pointer;
    text-align: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 1;
    font-size:21px;
}
.remove-item:hover{
    background-color:#d5d5d5;
}
