@model IEnumerable<ShoppingCartViewModel>
@{
	var totalPrice=0;
	foreach (var item in Model)
	{
		totalPrice += (item.MenuItem.MainPrice * item.Count);	
	}
}

<header class="">
	<div class="d-flex justify-content-between ">
		<div>
			<a class="logo" asp-controller="Home" asp-action="Index">
				<img src="~/assets/images/logo.png" style="height:60px;" />
			</a>
		</div>
		<div class="toggleMenu" onclick="toggleMenu();"></div>

		<div class="navigation ">
			<ul class="primary-list d-flex ">
				<li>
					<a class="text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
				</li>
				@if (User.IsInRole(AppRoles.Admin))
				{
					<li>
						<a class="text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard</a>
					</li>
				}
			</ul>
			<ul class="d-flex ms-0">
				<li>
					<a class="text-dark" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
				</li>
				<li>
					<a class="text-dark" asp-area="" asp-controller="Home" asp-action="Index">Register</a>
				</li>
			</ul>

		</div>
	</div>
</header>

<section class="container">
	<div class="row">
		<div class="col-12 col-md-12 col-xl-8 bg-white">
			<div class="d-flex justify-content-between align-items-center">
				<h2 class="">Shopping Cart</h2>
				<span class="fw-bold fs-5">@Model.Count() Items</span>
			</div>
			<div class="seperator"></div>
			<table class="table shopping-cart-table table-borderless">
				<thead >
					<tr>
						<th></th>
						<th>Item Details</th>
						<th>Quantity</th>
						<th>Price</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<partial name="_ShoppingCartItemRow" model="item"/>
					}
				</tbody>
			</table>
		</div>
		<div class="col-12 col-md-12 col-xl-4 bg-light">
			<h3 class="pt-2">Order Summary</h3>
			<div class="seperator"></div>
			<div class="d-flex justify-content-between align-items-center">
				<div class="fw-bold fs-5">Total</div>
				<div class="fw-bold" id="totalPrice">$<span>@totalPrice</span></div>
			</div>
		</div>
	</div>
</section>

@section Scripts{
	<script src="~/js/shoppingcart.js"></script>
}