@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}
<div class="d-flex flex-column flex-root">

	<!--begin::Authentication - Sign-up -->
	<div class="d-flex flex-column flex-lg-row flex-column-fluid">
		<!--begin::Logo-->
		<a href="/metronic8/demo14/index.html" class="d-block d-lg-none mx-auto py-20">
			<img alt="Logo" src="~/assets/images/logo.png" class="theme-light-show h-25px">
			<img alt="Logo" src="~/assets/images/logo.png" class="theme-dark-show h-25px">
		</a>
		<!--end::Logo-->
		<!--begin::Aside-->
		<div class="d-flex flex-column flex-column-fluid flex-center w-lg-50 p-10">
			<!--begin::Wrapper-->
			<div class="d-flex justify-content-between flex-column-fluid flex-column w-100 mw-450px">
				<!--begin::Header-->
				<div class="d-flex flex-stack py-2">
					<!--begin::Sign Up link-->
					<div class="m-0">
						<span class="text-gray-500 fw-bold fs-5 me-2" data-kt-translate="sign-up-head-desc">
							Already a member ?
						</span>

						<a asp-page="./login" class="link-primary fw-bold fs-5" data-kt-translate="sign-up-head-link">
							Sign In
						</a>
					</div>
					<!--end::Sign Up link--->

				</div>
				<!--end::Header-->
				<!--begin::Body-->
				<div class="py-20">

					<!--begin::Form-->
					<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework">
						<!--begin::Heading-->
						<div class="text-start mb-10">
							<!--begin::Title-->
							<h1 class="text-gray-900 mb-3 fs-3x" data-kt-translate="sign-up-title">
								Create an Account
							</h1>
							<!--end::Title-->
						</div>
						<!--end::Heading-->
						<!--begin::Input group-->
						<div class="fv-row mb-7 fv-plugins-icon-container">
							<input asp-for="Input.FullName" class="form-control form-control-lg " type="text" placeholder="Full Name" autocomplete="off" data-kt-translate="sign-up-input-first-name">
							<span asp-validation-for="Input.FullName" class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></span>
						</div>
						<!--end::Input group-->
						<!--begin::Input group-->
						<div class="fv-row mb-10 fv-plugins-icon-container">
							<input asp-for="Input.UserName" class="form-control form-control-lg " placeholder="Username" autocomplete="off" >
							<span asp-validation-for="Input.UserName" class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></span>
						</div>
						<!--end::Input group-->
						<!--begin::Input group-->
						<div class="fv-row mb-10 fv-plugins-icon-container">
							<input asp-for="Input.Email" class="form-control form-control-lg " type="email" placeholder="Email" autocomplete="off" data-kt-translate="sign-up-input-email">
							<span asp-validation-for="Input.Email" class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></span>
						</div>
						<!--end::Input group-->
						<!--begin::Input group-->
						<span class="d-block fv-row mb-10 fv-plugins-icon-container" data-kt-password-meter="true">
							<!--begin::Wrapper-->
							<div class="mb-1">
								<!--begin::Input wrapper-->
								<div class="position-relative mb-3">
									<input asp-for="Input.Password" class="form-control form-control-lg" type="password" placeholder="Password" autocomplete="off" data-kt-translate="sign-up-input-password">

									<span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
										<i class="ki-duotone ki-eye-slash fs-2"></i>
										<i class="ki-duotone ki-eye fs-2 d-none"></i>
									</span>
								</div>
								<!--end::Input wrapper-->
								<!--begin::Meter-->
								<div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
									<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
									<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
									<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
									<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
								</div>
								<!--end::Meter-->
							</div>
							<!--end::Wrapper-->
							<!--begin::Hint-->
							<div class="text-muted" data-kt-translate="sign-up-hint">
								Use 8 or more characters with a mix of letters, numbers &amp; symbols.
							</div>
							<!--end::Hint-->
							<span asp-validation-for="Input.Password" class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></span>
						</span>

						<!--end::Input group--->
						<!--begin::Input group-->
						<div class="fv-row mb-10 fv-plugins-icon-container">
							<input asp-for="Input.ConfirmPassword" class="form-control form-control-lg " type="password" placeholder="Confirm Password" autocomplete="off" data-kt-translate="sign-up-input-confirm-password">
							<span asp-validation-for="Input.ConfirmPassword" class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></span>
						</div>
						<!--end::Input group-->
						<!--begin::Actions-->
						<div class="d-flex flex-stack">
							<!--begin::Submit-->
							<button type="submit" class="btn btn-primary">

								<!--begin::Indicator label-->
								<span class="indicator-label">
									Submit
								</span>
								<!--end::Indicator label-->
								<!--begin::Indicator progress-->
								<span class="indicator-progress">
									Please wait...    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
								</span>
								<!--end::Indicator progress-->
							</button>
							<!--end::Submit-->

						</div>
						<!--end::Actions-->
					</form>
					<!--end::Form-->
				</div>
				<!--end::Body-->
				<div></div>
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Aside-->
		<!--begin::Body-->
		<div class="d-none d-lg-flex flex-lg-row-fluid w-50 bgi-size-cover bgi-position-y-center bgi-position-x-start bgi-no-repeat" style="background-image: url(/assets/images/signup.png);background-position:right;">
		</div>
		<!--begin::Body-->
	</div>
	<!--end::Authentication - Sign-up-->
</div>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
