	<header class="container ">
		<div class="d-flex justify-content-between">
			<div>
				<a class="logo" asp-controller="Home" asp-action="Index">
					<img src="~/assets/images/logo.png" style="height:60px;" />
				</a>
			</div>
			<div class="toggleMenu" onclick="toggleMenu();"></div>

			<div class="navigation ">
				<ul class="primary-list d-flex ">
					<li>
						<a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
					</li>
					@if (User.IsInRole(AppRoles.Admin))
					{
						<li>
							<a asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard</a>
						</li>
					}
				</ul>
				<ul class="d-flex ms-0">
					<li>
						<a asp-area="" asp-controller="Home" asp-action="Index">Login</a>
					</li>
					<li>
						<a asp-area="" asp-controller="Home" asp-action="Index">Register</a>
					</li>
				</ul>

			</div>
		</div>
	</header>
	