@model IEnumerable<Restaurant>

<div class="row px-2 py-4">
	<img src="~/assets/images/top-banner_.png" />
</div>
<div class="row px-2">
	<div class="food-category-widget">
		<h5 class="fw-800">@Model.Count() Restaurants</h5>
		<div class="bottom-dots  clearfix">
			<span class="dot line-dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
		</div>
	</div>
</div>
<div class="row p-2 js-render-restaurants">
	@foreach (var restaurant in Model)
	{
		<partial name="_RestaurantCard" model="restaurant" />
	}
</div>
